$white: #fff;
$ultraViolet: #604D8D;
$lightViolet: #735da8;
$selectiveYellow: #ffb000;
$overlayBg: rgba(18, 24, 26, 0.8);
$overlayLightBg: rgba(18, 24, 26, 0.1);
$overlayDarkBg: rgba(18, 24, 26, 0.9);
$darkGray: #525252;