@import 'loading_screen';
@import 'landing_screen';

@font-face {
    font-family: 'Montserrat-Black';
    font-display: auto;
    src: url(../assets/fonts/Montserrat-Black.ttf);
}
@font-face {
    font-family: 'Poppins-ExtraLight';
    font-display: auto;
    src: url(../assets/fonts/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: 'Poppins-SemiBold';
    font-display: auto;
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}