.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0px;
    display: flex;
    flex-direction: column;
}

.overlay-light {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0px;
    display: flex;
    flex-direction: column;
}

.overlay > .mid-container,
.overlay > .bot-container {
    background-color: rgba(18, 24, 26, 0.8);
}

.overlay-light > .mid-container,
.overlay-light > .bot-container {
    background-color: rgba(18, 24, 26, 0.2);
}

.top-container {
    height: 72px;
    width: 100%;
    flex: none;
    background-color: rgba(18, 24, 26, 0.9);
}

.top-container > img {
    margin: 11px;
    float: left;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.mid-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    padding: 60px;
}

.title-container {
    width: fit-content;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0px;
}

.title-container > p {
    padding-left: 2rem;
}

.title {
    width: inherit;
    overflow: hidden;
    padding-bottom: 20px;
}
.title > p {
    font-family: 'Montserrat-Black';
    font-size: 5.5em;
    color: #735da8;
    text-align: left;
}

.line {
    height: 2px;
    background-color: #fff;
    width: calc(100% + 20px);
}

.subtitle {
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
    width: inherit;
}

.subtitle > p {
    font-family: 'Poppins-ExtraLight';
    font-size: 2.3em;
    color: #fff;
    text-align: left;
}

.subtitle strong {
    font-family: 'Poppins-SemiBold';
    border-bottom: 4px solid #735da8;
}

.menu-container {
    width: 25rem;
    position: fixed;
    right: 15px;
    align-self: center;
}

.menu-container > p {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-family: 'Poppins-ExtraLight';
    padding: 15px;
    cursor: pointer;
}

.menu-container > p.initial {
    color: #fff !important;
}

.selected {
    font-family: 'Poppins-SemiBold' !important;
}

.menu-container > p:hover {
    font-size: 3rem;
    font-family: 'Poppins-SemiBold';
}

.bot-container {
    width: 100%;
    flex: none;
    height: 120px;
    background-color: rgba(18, 24, 26, 0.8);
}

.start-button {
    font-family: 'Poppins-ExtraLight';
    flex: 1;
    margin: 0 auto;
    height: 100%;
    max-width: 35%;
    text-align: center;
    cursor: pointer;
    animation: fadeInFromNone 2s infinite;
}

.start-button > span {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.7em;
    line-height: 120px;
}

.start-button > span::before,
.start-button > span::after {
    display: inline-block;
    content: "";
    border-top: 2px solid #fff;
    width: 6rem;
    margin: 0 1rem;
    transform: translateY(-.1rem);
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

#app-details {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.app-details-modal {
    background-color: rgba(18, 24, 26, 0.8);
    padding: 50px;
}

#app-details-close-button {
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: -20px;

    /* X button styling */
    cursor: pointer;
    font-family: 'Poppins-ExtraLight';
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}

#app-details-title-container {
    width: 100%;
    color: #ffb000;
    font-family: 'Montserrat-Black';
    font-size: 2.3rem;
}

#app-details-title-container > h2 {
    margin: 0;
}

#app-details-paragraph-container {
    width: 100%;
    margin-top: 30px;
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Poppins-ExtraLight';
}

#app-details-button-container {
    width: 100%;
    margin-top: 30px;
}

#app-details-button-container > div {
    color: #fff;
    padding: 15px;
    font-family: 'Poppins-SemiBold';
    font-size: 1.6rem;
    background-color: #525252;
    width: fit-content;
}