#loading-page-container {
    width: 100%;
    height: 100%;
    background-color: #604D8D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    font-size: 18pt;
    font-family: 'Poppins-ExtraLight';
    color: #fff;
    position: relative;
    top: 0;
    left: 0;
}

#loading-component-progress {
    background-color: #ffb000;
    align-self: flex-end;
    width: 120px;
    height: 0px;
}

.loading-component-container {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.loading-component-container > img {
    z-index: 10;
    position: absolute;
}
