@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat-Black.ttf);
}
@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url(../assets/fonts/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}